---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: flm
spec:
  replicas: 2
  selector:
    matchLabels:
      app: swiggy
  template:
    metadata:
      labels:
        app: swiggy
   spec:
     Containers:
      - name: cont-1
        image: shaikmustafa/mygame
        ports: 
          - containerPort: 80
    
